/* --------------------------------------------------------------------------------------
+
+ FOOTER
+
-------------------------------------------------------------------------------------- */
footer {
	background-color: $footer-bgr;
	padding: 26px 0;
	width: 100%;
	text-align: center;
}